/* Add your CSS styles here */
.homepage-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .greeting-message {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .total-expenses {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .tips-section {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .button-container {
    margin-bottom: 20px;
  }
  
  .button-add-expense {
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .button-add-expense:hover {
    background-color: #45a049;
  }
  
  .link-view-transactions {
    font-size: 16px;
    color: #3498db;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .link-view-transactions:hover {
    text-decoration: underline;
    color: #2980b9;
  }
  